/* Campton */
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-Medium.woff2') format('woff2'),
        url('./campton/Campton-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-SemiBold.woff2') format('woff2'),
        url('./campton/Campton-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-Bold.woff2') format('woff2'),
        url('./campton/Campton-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-ExtraBold.woff2') format('woff2'),
        url('./campton/Campton-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

