
/* gilbert */
@font-face {
    font-family: 'Gilbert';
    src: url('./Gilbert/Gilbert-Bold-Preview-5.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Campton */
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-Thin.woff2') format('woff2'),
        url('./campton/Campton-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-ExtraLight.woff2') format('woff2'),
        url('./campton/Campton-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-Light.woff2') format('woff2'),
        url('./campton/Campton-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-Regular.woff2') format('woff2'),
        url('./campton/Campton-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-Medium.woff2') format('woff2'),
        url('./campton/Campton-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-SemiBold.woff2') format('woff2'),
        url('./campton/Campton-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-Bold.woff2') format('woff2'),
        url('./campton/Campton-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-ExtraBold.woff2') format('woff2'),
        url('./campton/Campton-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Campton';
    src: url('./campton/Campton-Black.woff2') format('woff2'),
        url('./campton/Campton-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
